flow1.json
[
    {
        "id": "ccef5472e9643a79",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2b16a719f5dd411e",
        "type": "inject",
        "z": "ccef5472e9643a79",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "topic de ejemplo",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "a5a2a73f3092768f",
                "26491443de634db9"
            ]
        ]
    },
    {
        "id": "19fc86802cc16777",
        "type": "debug",
        "z": "ccef5472e9643a79",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "a5a2a73f3092768f",
        "type": "function",
        "z": "ccef5472e9643a79",
        "name": "",
        "func": "// Lo que está después de “//” son comentarios\n// Crea un objeto Date a partir del payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 240,
        "wires": [
            [
                "19fc86802cc16777",
                "fecec2508b43662e"
            ]
        ]
    },
    {
        "id": "fecec2508b43662e",
        "type": "ui_text",
        "z": "ccef5472e9643a79",
        "group": "e10253a8f1fcb8b3",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "La hora es",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "26491443de634db9",
        "type": "debug",
        "z": "ccef5472e9643a79",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "e10253a8f1fcb8b3",
        "type": "ui_group",
        "name": "Hora",
        "tab": "a8649a3f3659ee45",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a8649a3f3659ee45",
        "type": "ui_tab",
        "name": "Hora",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]